@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure full height for centering */
  overflow: hidden; /* Prevent scrollbars */
}

.App {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  background: linear-gradient(268deg, #00ee3f, #00c8ff, #ffc000, #ff194f, #ff00ff, #6900d3, #ff0000, #ff9d00, #ffc400, #00ff26, #00ff9d);
  background-size: 800% 1200%;
  animation: AnimationName 90s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 7% 0%;
  }
  50% {
    background-position: 94% 100%;
  }
  100% {
    background-position: 7% 0%;
  }
}

.contentContainer {
  position: relative; 
  width: 100%;
  height: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  overflow: hidden; /* Prevents text from overflowing */
}

.textContainer {
  position: absolute; /* Absolute positioning to center the text */
  top: 50%;   /* Move text container vertically to the center */
  left: 50%;  /* Move text container horizontally to the center */
  transform: translate(-50%, -50%); /* Adjust by half its own width/height to truly center */
  color: white;
  font-family: "Noto Serif", serif;
  font-size: clamp(10px, 6vw, 7vh); /* Dynamically scales font size based on screen size */
  font-weight: 600;
  text-align: center;
  line-height: 1.2; /* Adjust line-height for better spacing */
  width: 90%; /* Constrain text width */
  max-width: 90%; 
  max-height: 90%; 
  pointer-events: none;
  word-wrap: break-word; 
  word-break: break-word; 
  overflow: hidden; /* Prevent text overflow */
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis; /* Adds ellipsis if text overflows */
}

.imageContainer {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; 
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
